{%extends 'layout.html'%}

{%block title%}
Change app password
{%endblock%}

{%block body%}
{%for message in get_flashed_messages()%}
<!-- Bootstrap -->
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>{{message}}</strong> 
</div>

{%endfor%}
    <!-- <h1 style = "text-align: center; padding: 5px;">Enter the new name and password of your router</h1> -->
    <div style="display: flex; justify-content: center;">
        <form action = "/changePassword", method="post" style="display: flex; flex-direction: column;  align-items: center;">
            <input type = "password" class = "form-control" autocomplete="off" name = "old password" style="padding: 5px; width: 300px; margin: 5px;" autofocus required placeholder="Old password">
            <input type = "password" class = "form-control" autocomplete="off" name = "new password" style="padding: 5px; width: 300px; margin: 5px;" autofocus required placeholder="New password">
            <input type = "password" class = "form-control" autocomplete="off" name = "confirmation" style="padding: 5px; width: 300px; margin: 5px;" autofocus required placeholder="Confirm new password">
            <button id = "reg" class = "btn btn-primary"  style="width: 160px; margin: 5px;">Submit new password</button>   
        </form> 
    </div>
{%endblock%}

{%block script%}
{%endblock%}

