{%extends 'layout.html'%}

{%block title%}
LogIn
{%endblock%}

{%block body%}
    {%for message in get_flashed_messages()%}
    <!-- Bootstrap -->
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>{{message}}</strong> 
    </div>
    {%endfor%}
    <h3 style="text-align: center;">Welcome to SafeFi! My humble wifi protection web application!</h3>
    <div style="display: flex; justify-content: center;"> 
        <form action = "/LogIn", method="post" style="display: flex; flex-direction: column; align-items: center;">
            <input type = "text" class = "form-control" style="padding: 5px; width: 300px; margin: 5px;" autofocus required placeholder="Enter password" name = "password">
            <button id = "reg" class = "btn btn-primary" style="margin: 5px; width:auto;">Log in</button>   
        </form> 
    </div>
{%endblock%}

{%block script%}
{%endblock%}